.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #242526;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #3a3b3c;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__left > img {
  height: 46px;
}

.header__input > input {
  outline-width: 0;
  border: none;
  outline: none;
  background-color: #3a3b3c;
  color: #e3e6ea;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option > .MuiSvgIcon-root {
  color: #e3e6ea;
  /* Make sure to use transition in all child element/class Or use transition: all */
  transition: background-color 0.4s ease-out;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  cursor: pointer;
  border-bottom: 4px solid #2e81f4;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  cursor: pointer;
  border-radius: 10px;
  /* Make sure to use transition in all child element/class Or use transition: all */
  transition: background-color 0.4s ease-out;
}

.header__option:hover {
  background-color: #3a3b3c;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
  color: #e3e6ea;
}

.header__input > .MuiSvgIcon-root {
  color: #e3e6ea;
}

.header__input > Input {
  color: #e3e6ea;
}

.header__right {
  display: flex;
}

.header__right > .MuiIconButton-root {
  color: #e3e6ea !important;
}
